body {
    display: flex;
    justify-content: center;
}

h1 {
    
    font-size: 60px;
    display: flex;
    justify-content: center;
    
}

.time{
    font-size: 100px ;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}